*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

:root {
  --dark-blue: #280a4c;
  --light-blue: #5b4d65;
  --plum: #8e4585;
  --light-plum: #d8aad3;
}

.app-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, var(--dark-blue), var(--light-blue));
  color: white;
}

.navbar {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.chat-history-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
    padding: 20px;
}

.chat-history {
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.chat-message p {
  margin: 0;
}

.chat-message:nth-child(odd) {
  background-color: var(--plum);
}

.chat-message:nth-child(even) {
  background-color: var(--light-plum);
  color: black;
}

textarea {
  width: 80%;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.map-container {
  flex-grow: 1;
}

/* Adding Css to the button */
button {
  background-color: var(--plum);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

}

.user-message {
  background-color: var(--light-plum);
  color: black;
}

.model-message {
  background-color: var(--plum);
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  flex: 1;
  margin: 0 5px;
}

.model-message {
  position: relative;
}

.speak-button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container button {
  flex: 1 0 30%;
  margin: 5px;
}

.leaflet-marker-icon {
  background: none;
  border: none;
}